* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 25px;
  text-decoration: none;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* SECTIONS */
section {
  padding: 100px 40px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  max-width: 500px;
}

.skills-grid span {
  background: #1e293b;
  padding: 12px;
  text-align: center;
  border-radius: 6px;
  transition: transform 0.3s, background 0.3s;
}

.skills-grid span:hover {
  transform: translateY(-5px);
  background: #38bdf8;
  color: black;
}

/* PROJECTS */
.project-card {
  background: #1e293b;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

footer {
  text-align: center;
  background: #020617;
  padding: 15px;
}
