* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  background: #020617;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  text-align: center;
  padding-top: 120px;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 25px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 100px 40px;
}

h2 {
  margin-bottom: 25px;
  font-size: 28px;
}

/* ABOUT */
.about-section {
  max-width: 900px;
}

.about-box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
}

.about-box p {
  margin-bottom: 15px;
  line-height: 1.7;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  max-width: 500px;
}

.skills-grid span {
  background: #1e293b;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
}

/* PROJECTS */
.project-card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

.project-card a {
  color: #38bdf8;
  text-decoration: none;
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
footer {
  text-align: center;
  background: #020617;
  padding: 15px;
}
